@model IEnumerable<prjMvcCoreDemo.Models.TResponse>
@{
    ViewData["Title"] = "ResponseView";
}

<h1>商品評論</h1>
@{
    foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                @item.FUser
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@item.FMessage</p>
                    <footer class="blockquote-footer">@item.FDate</footer>
                </blockquote>
            </div>
        </div>
        <hr />
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>輸入意見</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            暱稱
            <div class="col-md-10">
                @Html.TextBox("FUser", "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            評價
            <div class="col-md-10">
                @Html.TextBox("FMessage", "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <input type="hidden" name="FProductId" value="@ViewBag.FProductId" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送出" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<a asp-action="List">繼續購物</a>

